.kitten-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .list-kitten-container {
    width: 60%;
    height: 600px;
    background-color: rgb(225, 204, 204);
  }

  .user-kitten-container {
    width: 40%;
    height: 600px;
    background-color: white;
  }
}
