<div class="app-container">
<div class="kitten-container">
  <div class="list-kitten-container">
<h1>Refuge</h1>
<div class="kitten-cards">
<app-list-kitten *ngFor="let cat of catList" [kittenData]="cat" (sendAdoptedCat)="onReceiveNewAdoptedCat($event)"></app-list-kitten></div></div>
<div class="user-kitten-container">
  <h1>Restaurant Kohishima</h1>
  <div class="kitten-cards">
  <app-user-kitten *ngFor="let adoptcat of adoptedCatList" [adoptedCatData]="adoptcat"></app-user-kitten></div>
</div>
</div>
<app-create-kitten (sendCat)="onReceiveNewCat($event)"></app-create-kitten>

</div>