.refuge-container {
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;

  .cat-card {
    width: 60%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.322);

    .img-card {
      width: 100%;

      img {
        width: 100%;
        border-radius: 20px 20px 0 0;
      }
    }

    .info-card {
      padding: 10px 10px;
    }

    .btn-card {
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    button {
      border: none;
      border-radius: 5px;
      background-color: firebrick;
      color: white;
      padding: 5px 15px;
      text-align: center;
      margin-bottom: 20px;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.328);
    }
  }
}
